
{% extends 'base.html' %}

{% block title %}Top Melon{% endblock %}

{% block content %}

<h1>Welcome {{username}}</h1>

<!-- Create a div for every Most Loved Melon using a Jinja for loop -->
    <div class='melon-div'>
        {%for key,value in melons.items()%}
        <h3>Hey {{username}} this is {{value['name']}}</h3>
        <h2>Number of loves: {{value['num_loves']}} times.</h2>
        <img src='{{value["img"]}}'>
        {%endfor%}
    </div>
      <h2>Tell us which melon do you like</h2>
    <form action= "/love-melon" method="POST">
        <select name='melon_option'>
            {%for key, value in melons.items()%}
            <option value={{key}}>{{value['name']}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="submit">  
    </form>

{% endblock %}